<div class="container">
  <div class="row">
    <div class="col">
      <div class="mx-5 my-5">
      <button mat-fab color="primary" (click)="onOpenModal()">
        <mat-icon>open_in_new</mat-icon>
      </button>
      </div>
    </div>
  </div>
</div>
