
<div class="top-icon" >
  <span class="material-icons md-36 d-flex justify-content-center vertical-center">edit</span>
</div>
<div class="title-container">
  <span class="title">Correcion de notas de venta</span>
</div>

<div class="table-container mat-elevation-z0">
  <cdk-virtual-scroll-viewport tvsItemSize="48" headerHeight="56" class="virtual-scroll">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="type" class="text-center">
        <th mat-header-cell *matHeaderCellDef class="headers">Tipo de Error</th>
        <td mat-cell *matCellDef="let element" > {{element.type}} </td>
      </ng-container>

      <ng-container matColumnDef="errorNumber" class="text-center">
        <th mat-header-cell *matHeaderCellDef class="headers">Nro. de Errores</th>
        <td mat-cell *matCellDef="let element"> {{element.errorNumber}} </td>
      </ng-container>


      <ng-container matColumnDef="correctionNumber" class="text-center">
        <th mat-header-cell *matHeaderCellDef class="headers">Nro. de Correciones</th>
        <td mat-cell *matCellDef="let element"> {{element.correctionNumber}} </td>
      </ng-container>


      <ng-container matColumnDef="action" class="text-center">
        <th mat-header-cell *matHeaderCellDef class="headers"></th>
        <td mat-cell *matCellDef="let element"> {{element.action}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </cdk-virtual-scroll-viewport>
  <div>
    <button style="background-color: transparent; color: #999999; box-shadow: none; margin-top: 15px"
            mat-raised-button=""
            type="button"
            class="btn btn-link btnFooter"
            id="timbrarCorrecciones"
            disabled="disabled">
      <i class="material-icons marginIcon ng-star-inserted">done</i>
      <span>TIMBRAR CORRECCIONES </span></button>
  </div>
</div>


