
div.top-icon {
  position: absolute;
  top: 210px;
  width: 70px;
  height: 70px;
  padding: 10px;
  box-shadow: 4px 8px 6px #888888;
  background: #233174;
  color: white;
}

.table-container {
  margin-top: 10px;
  height: 320px;
  overflow: auto;
}

.vertical-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

table {
  width: 100%;
}

.title-container{
  margin-left: 12%;
  margin-bottom: 1%;
}

.title{
  font-size: 20px;
  color: #888888;
}
.virtual-scroll{
  height: 260px;
}

.headers{
  border: none;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }





